<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= favicon %>
    <%= javascript 'application' %>
    <%= stylesheet 'application' %>
  </head>
  <body>
    <h1 class="main-title">Bookshelf</h1>
    <%= yield %>
    <h2>
      Copyright
      <%= local :copyrightowner %>
    </h2>
  </body>
</html>
